# LunchPy workshop - Data types and data structures

### Contents
* Python native data types: integer, float, string, boolean
* Pandas data types: int, float, object, bool
* Data structures: array, list, tuple, set, dictionary

### Exercise
* Exercise1: Use sys.getsizeof() to understand the memory usage of Python objects
* Exercise2: Use dictionary to map keys to values and apply it to real world dataset

### Q&A during the workshop

* Q0: What does 'object' data type mean and how does pandas read_csv determine data types?
* A0: 'object' is the equivalent pandas data type to 'string' in python native data types. It will be assigned to the column if column has strings or mixed types (numbers and strings). If a column contains numbers and NaNs (missing value), pandas will default to float64, in case your missing value has a decimal.


* Q1: Can data type can be specified in using read_csv to load data into pandas dataframe?  
* A1: Can use the 'dtype' in read_csv to pass a dictionary that maps the column names to data types.


* Q2: what's the difference between single quote and double quote? SAS treats single/double differently.
* A2: There is no difference between single quote and double quote in Python, while triple quote is different and used for docstring (documentation).


* Q3: What is the difference between an array and a dictionary.
* A3: Dictionary is not ordered. Array is ordered. Dictionary maps a set of keys to values. Array maps position indices to values.


* Q4: How is an array initiated? 
* A4: Array can be initiated with (), by specifying the type of the data the array contains and the values. Reference: https://docs.python.org/3/library/array.html

* Q5: Is there a way to read a part of the csv file in by specifying the rows to read in?
* A5: https://stackoverflow.com/questions/26464567/csv-read-specific-row?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
    I ran the solution mentioned in this post and got the specified rows of data in a list. Will need to convert it to a dataframe and assign column names to them.

### Python Data Structures
* Examples of initiation of various data structures

In [151]:
# Create an array. Array contains values of the same data type.
import array as arr
a = arr.array("I",[3,6,9])
type(a)

array.array

In [13]:
# Create a list.
list_a = ['dog', 'cat', 'sheep', 'goat', 'cat']
list_a

['dog', 'cat', 'sheep', 'goat', 'cat']

In [12]:
# List is more flexible in storing data of mixed types and shapes.
list_b = ['dog', ['cat','sheep'], 1]
list_b

['dog', ['cat', 'sheep'], 1]

In [11]:
# Create a dictionary that maps keys to values. It is similar to SAS 'proc format'.
dictionary_a = {'dog':1, 'cat':2, 'sheep':3, 'goat':4}
type(dictionary_a)

dict

In [208]:
# Use pandas map function to transform the values in a list to another set of values defined in the dictionary.
# Map is a function in pandas library that applies the pre-defined dictionary or mapping logic to a Pandas Series object. 
import pandas as pd
list_num = pd.Series(list_a).map(dictionary_a)
list_num

0    1
1    2
2    3
3    4
4    1
dtype: int64

### Exercise 1
* Understand how much bits in memory do the Python objects take and how different is that for integer, string, and lists containing integer and strings.

In [199]:
# Exercise 1: Check the memory usage of an object

a = 1
import sys
print(sys.getsizeof(a))

b = '1'
print(sys.getsizeof(b))

c = 'abcd'
print(sys.getsizeof(c))

a = pd.Series([])
b = pd.Series([])
print(sys.getsizeof(a), sys.getsizeof(b))

a = pd.Series([1])
b = pd.Series(['1'])
print(sys.getsizeof(a), sys.getsizeof(b))

a = pd.Series([1, 1])
b = pd.Series(['1', '1'])
print(sys.getsizeof(a), sys.getsizeof(b))

a = pd.Series([1, 1, 1])
b = pd.Series(['1', '1', '1'])
print(sys.getsizeof(a), sys.getsizeof(b))

a = pd.Series([1, 1, 1, 1])
b = pd.Series(['1', '1', '1', '1'])
print(sys.getsizeof(a), sys.getsizeof(b))

28
54
53
100 100
112 166
120 228
128 290
136 352

### Pandas Data Types
* Load data, keep the first 50 columns, and use info function to examine the data types

In [221]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os
os.chdir('C:/Users/CatherineChen/Documents/MLGroup/')

cols = pd.read_csv('master_data.csv', nrows=1)
cols
cols.columns[:50]
df = pd.read_csv('master_data.csv', usecols=cols.columns[:50])

C:\Users\CatherineChen\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [222]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464904 entries, 0 to 464903
Data columns (total 50 columns):
ApplicationId                464904 non-null int64
proposalid                   464904 non-null int64
ProductCategory2             464904 non-null object
Channel                      464904 non-null object
LandlineFlag                 464904 non-null int64
app_month                    464904 non-null object
ApplicationDate              464904 non-null object
CompletionDate               464904 non-null object
OriginalTerm                 464904 non-null int64
Quote                        464904 non-null int64
status                       464904 non-null object
Initial_Decision             464904 non-null object
Final_Decision               42223 non-null object
Acc_App_Accepted             42223 non-null float64
Acc_Created                  26540 non-null float64
Acc_NTU                      26540 non-null float64
ApplicationScore             446316 non-null float64
Risk_Navigator4_Score        464904 non-null int64
Affordability_Index_Score    464904 non-null int64
Age                          464868 non-null float64
Residency                    464904 non-null object
Joint_Flag                   464904 non-null int64
YearsInCurrentEmp            154641 non-null float64
PostCodeRegion               464610 non-null object
YearsAtAddress               464865 non-null float64
MonthsAtAddress              464871 non-null float64
totalincome                  464904 non-null int64
AmountToFinance              464904 non-null float64
Deposit                      264465 non-null float64
MonthlyRepaymentAmount       464904 non-null float64
APR                          464895 non-null float64
MOB_0                        19364 non-null float64
MOB_1                        17764 non-null float64
MOB_2                        16257 non-null float64
MOB_3                        14761 non-null float64
MOB_4                        13569 non-null float64
MOB_5                        12688 non-null float64
MOB_6                        11734 non-null float64
MOB_7                        11002 non-null float64
MOB_8                        10314 non-null float64
MOB_9                        9855 non-null float64
MOB_10                       9293 non-null float64
MOB_11                       8766 non-null float64
MOB_12                       8244 non-null float64
MOB_13                       7614 non-null float64
MOB_14                       7072 non-null float64
MOB_15                       6554 non-null float64
MOB_16                       6120 non-null float64
MOB_17                       5665 non-null float64
MOB_18                       5275 non-null float64
dtypes: float64(31), int64(9), object(10)
memory usage: 177.3+ MB

In [211]:
df['ApplicationDate'].head()

0    16JAN2014:08:54:22.757
1    16JAN2014:09:27:34.510
2    16JAN2014:09:27:36.610
3    16JAN2014:09:35:23.100
4    16JAN2014:12:07:54.090
Name: ApplicationDate, dtype: object

In [197]:
df['CompletionDate'].head()

0    01JAN1900:00:00:00.000
1    01JAN1900:00:00:00.000
2    01JAN1900:00:00:00.000
3    24JAN2014:19:00:09.587
4    01JAN1900:00:00:00.000
Name: CompletionDate, dtype: object

### Exercise 2
* Transform the 'ApplicationDate' to 6-digit application month with map function and dictionary.

In [223]:
#Define a dictionary to map the month from 'MMM' to the corresponding number
month_fmt = {'JAN': 1, 'FEB': 2, 'MAR': 3, 'APR': 4, 'MAY': 5, 'JUN': 6, 
             'JUL': 7, 'AUG': 8, 'SEP': 9, 'OCT': 10, 'NOV': 11, 'DEC':12}

#Map function map values based on either pre-defined logic or dictionary
df['app_yy'] = df['ApplicationDate'].map(lambda x: x[5:9])
df['app_mm'] = df['ApplicationDate'].map(lambda x: x[2:5]).map(month_fmt)

#Create a new column of application month in YYYYMM format
df['app_month_yymm'] = df['app_yy'].astype(int) * 100 + df['app_mm']

#Check the frequency of values in the new application month column
df['app_month_yymm'].value_counts()

201707    76485
201708    72179
201706    58781
201705    49626
201612    28480
201703    26854
201701    23230
201704    22921
201702    17820
201611     8150
201610     6960
201603     6907
201609     6616
201608     6293
201606     5747
201607     5518
201605     4596
201602     4538
201604     4428
201507     4029
201509     3670
201508     3583
201511     3425
201510     3238
201601     2706
201512     2147
201402     1027
201403      907
201506      841
201404      410
201504      287
201503      278
201405      267
201406      235
201502      216
201410      214
201505      211
201501      195
201411      188
201409      171
201401      159
201407      159
201412      131
201408       81
Name: app_month_yymm, dtype: int64

### Exercise 2 - A smarter alternative solution :) 
* define the datetime format and parse the date when reading it in

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os
os.chdir('C:/Users/CatherineChen/Documents/MLGroup/')

cols = pd.read_csv('master_data.csv', nrows=1)

#Use pandas datetime to define the format of the date column. https://docs.python.org/2/library/datetime.html
dateparse = lambda x: pd.datetime.strptime(x, '%d%b%Y:%H:%M:%S.%f')

df = pd.read_csv('master_data.csv', usecols=cols.columns[:50], parse_dates=['ApplicationDate'], date_parser=dateparse)

df.dtypes

C:\Users\CatherineChen\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

ApplicationId                         int64
proposalid                            int64
ProductCategory2                     object
Channel                              object
LandlineFlag                          int64
app_month                            object
ApplicationDate              datetime64[ns]
CompletionDate                       object
OriginalTerm                          int64
Quote                                 int64
status                               object
Initial_Decision                     object
Final_Decision                       object
Acc_App_Accepted                    float64
Acc_Created                         float64
Acc_NTU                             float64
ApplicationScore                    float64
Risk_Navigator4_Score                 int64
Affordability_Index_Score             int64
Age                                 float64
Residency                            object
Joint_Flag                            int64
YearsInCurrentEmp                   float64
PostCodeRegion                       object
YearsAtAddress                      float64
MonthsAtAddress                     float64
totalincome                           int64
AmountToFinance                     float64
Deposit                             float64
MonthlyRepaymentAmount              float64
APR                                 float64
MOB_0                               float64
MOB_1                               float64
MOB_2                               float64
MOB_3                               float64
MOB_4                               float64
MOB_5                               float64
MOB_6                               float64
MOB_7                               float64
MOB_8                               float64
MOB_9                               float64
MOB_10                              float64
MOB_11                              float64
MOB_12                              float64
MOB_13                              float64
MOB_14                              float64
MOB_15                              float64
MOB_16                              float64
MOB_17                              float64
MOB_18                              float64
dtype: object

In [3]:
#Since the 'ApplicationDate' is in datetime format now, we can use the pandas datetime functions (dt.year or dt.month) 
#to easily get the year and month from 'ApplicationDate'
df['app_month'] = df['ApplicationDate'].dt.year * 100 + df['ApplicationDate'].dt.month
df['app_month'].head()

0    201401
1    201401
2    201401
3    201401
4    201401
Name: app_month, dtype: int64